.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 6rem;
  height: 6rem;
  border: 8px solid rgb(112, 112, 112);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@media (prefers-color-scheme: dark) {
  .loader {
    border: 8px solid rgb(255, 255, 255);
    border-bottom-color: transparent;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
